/*BASE----------------------------------------------------------*/
* {
  /*border: 1px dashed orange;*/
}
body {
  text-align: center;
  background-color: #fff;
}

a {
  text-decoration: none;
}

h3 {
  text-align: left;
}
/*LAYOUT--------------------------------------------------------*/
header {
  text-align: left;
}

nav {
  width: 100%;
  display: inline-block;
  text-align: center;
}
/*MODULES-------------------------------------------------------*/

nav ul {
  display:none;
}

nav li {
  display: inline;
  margin-right: 2%;
  margin-right: 2%;
}

nav i.fa.fa-navicon {
  float: right;
}

@media (min-width: 1000px) {
  nav ul {
    display:block;
  }

  nav i.fa.fa-navicon{
    display:none;
  }
}

nav:hover ul{
  display:block;
}

img {
  max-width: 100%;
}

.template{
  display:none;
}
